body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Quicksand', sans-serif;
}
.header{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: green;
  height: 30px;
}
.header h3{
  float: right;
  color: green;
  background: white;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  height: 23px;
  border-radius: 100px;
  margin-top: -1px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
}
.header ul{
  float: left;
  margin-top: 0px;
  color: white;
  padding-left: 10px;
}
.header ul li{
  display: inline-block;
  padding-left: 15px;
  cursor: pointer;
  padding-right: 15px;
  margin-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
}
.header ul li:hover{
  box-shadow: 0 0 2px #000;
  background: rgba(0, 0, 0, 0.4);

}
#img{
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -0px;
  position: relative;
  left:5px;
  border-radius: 100px;
}
.container{
  width: 75%;
  padding:10px;
  height: auto;
  margin: auto;
}
.leftContent{
  width: 25%;
  float: left;
  height: auto;
  background: rgba(0, 100, 0, 0.05);
  border-radius: 3px;
  padding:10px;
}
#leftimg{
  width: 100%;
  object-fit: cover;
  height: 100px;
  margin:0px auto;
  border-radius: 3px;
}
.leftContent h3{
  font-weight: normal;
  margin-top: 0px;
  padding-left: 10px;
  border-left: solid 2px green;
  padding-top: 3px;
  padding-bottom: 3px;
}
.leftContent button{
  padding:10px;
  border:none;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 10, 0, 0.7);
  width: 100%;
  color: green;
}
.rightcontent{
  width: 70%;
  border-left: solid thin gray;
  height: auto;
  margin-left: 5px;
  padding: 10px;
  background: white;
  float: left;
}
.rightcontent h3{
  margin-top: 0px;
  border-bottom: dotted thin gray;
  padding-bottom: 3px;
}
.rightcontent form{
  width: 100%;
  padding-bottom: 10px;
}
.rightcontent form input{
  padding:10px;
  width: 45%;
  border-radius: 3px;
  border:solid thin green;
  margin-top: 3px;
}
.rightcontent form button{
  padding:10px;
  width: 100px;
  background: green;
  color: white;
  border:none;
  border-radius: 3px;
  margin-top: 10px;
}
.rightcontent form button:last-child{
  background: #CCC;
  color: green;
}
.line{
  width: 50%;
  height: 1px;
  background: #ccc;
  margin-top: 10px;
}
.allprod{
  width: 97%;
  margin-top: 10px;
  background: rgba(0, 100, 0, 0.05);
  padding: 10px;
  height: 300px;
  border-radius: 3px;
}
.allprod:last-child{
  background: none;
  margin-top: 20px;
}
.single_prod{
  float: left;
  width: 30%;
  height: 78%;
  margin-left: 10px;
  padding: 5px;
  box-shadow: 0 0 3px black;
  border-radius: 3px;
  background: #CCC;
}
.single_request{
  float: left;
  width: 48%;
  margin-top: 10px;
  height: 114px;
  margin-left: 10px;
  background: #CCC;
}
#image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
